<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/Style_Agregar_Obras.css'%}" >
    <title>Agregar Obra</title>
</head>
<body>
    {% load static%}
    <div class="container-fluid">
        <div class="logo">
            <img src="{% static 'core/img/logo.png' %}" alt="logo arte">

        </div>
        <div class="encabezado">
            <div >

            <h1 class="titulopagina">Galeria de Arte</h1>
            
            
            </div>
            
            <div>
                <a href="{%url 'Registro' %}"> Registrar</a>
            </div>
            <div>
                <a href="{%url 'Login' %}">Iniciar Sesion</a>
            </div>

            <div>
                <a href="{%url 'Conocenos' %}">Conocenos</a>
            </div>

            <div>
                <a href="{%url 'Nuevas_Obras' %}">Obras</a>
            </div>

            <div>
                <a href="{%url 'Artistas' %}"> Artistas</a>
            </div>

            
        </div>
        
        <div>

            <img class ="tamañoportada" src="{% static 'core/img/portada.jpg'%}" alt="Portada Pagina"   >

        </div>
        
    </div>
    
  <div class="lblAgregarObras">

    <h3>Agregar Obras</h3>

  </div>   

  <form action="">
    
    
        
    
    <p>Titulo</p> 
    <input type="text" class="field"> 
    <p>Precio</p>
    <input type="text" class="field2">
    <p>Tecnica</p>
    <input type="text" class="field3">
    <p>Dimenciones</p>
    <input type="text" class="field4">
    <p>Peso</p>
    <input type="text" class="field5">
    <p class="p_derecha"> Historia</p>
    <input type="text" class="field6">
    <p class="p_derecha2">Descripcion</p>
    <input type="text" class="field7">

    <input type="button" class="btn btn-green" value="Publicar">

   </form>

   <div class="img_a_obras">

        <img src="{%static 'core/img/obras-de-arte.jpg'%}" alt="imagen a_obras" width="350px" height="280">

   </div>
   <div class="bInicio">
    
    <a href="{%url 'home'%}">Inicio</a>

   </div>
      
</body>
</html>