<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="Style_Artistas.css" />
</head>
<body>
    <div class="container-fluid">
    <div class="row">
            <div class="logo">
                <img src="./img/logo.png" alt="logo arte">

            </div>
            <div class="encabezado">
                <div >

                <h1 class="titulopagina">Galeria de Arte</h1>
                
                
                </div>
                
                <div>
                    <a href="Registro.html"> Registrar</a>
                </div>
                <div>
                    <a href="Login.html">Iniciar Sesion</a>
                </div>

                <div>
                    <a href="Conocenos.html">Conocenos</a>
                </div>

                <div>
                    <a href="Nuevas_Obras.html">Obras</a>
                </div>

                <div>
                    <a href="Artistas.html"> Artistas</a>
                </div>

                
            </div>
            
            <div>

                <img class ="tamañoportada" src="./img/portada.jpg" alt="Portada Pagina"   >

            </div>

            <br><br><br>

            <b class="field">Ichigo</b>
            <b class="field2">Nathan</b>
            <b class="field3">Bai Xaochin</b>
            <b class="field4">Miguel Works</b>

            <br><br>

            <div>

                <img class="field5" src="./img/artista1.jfif" alt="artista1">
                <img class="field6" src="./img/guts.jfif" alt="artista2">
                <img class="field7" src="./img/artista3.png" alt="artista3">
                <img class="field8" src="./img/artista4.jfif" alt="artista4">

            </div>

            </form>
            <div class="bInicio">

                <a href="index.html">Inicio</a>
            </div>    
        </div> 
    </div>
    <br><br><br><br>
    
    <br>
 </body>
 </html>
