<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{%static 'core/css/Style_Conocenos.css'%}" />
    <title>Conocenos</title>
</head>
<body>
    {%load static%}
    <div class="container-fluid">
      <div class="row"> 
        <div class="logo">
            <a href="{%url 'home' %}"> <img src="{% static 'core/img/logo.png' %}"  alt="logo arte"/> </a>
            

        </div>
        <div class="encabezado">
            <div >

            <h1 class="titulopagina">Galeria de Arte</h1>
            
            
            </div>
            
            <div>
                <a href="{%url 'registro' %}"> Registrar</a>
            </div>
            <div>
                <a href="{%url 'Login' %}">Iniciar Sesion</a>
            </div>

            <div>
                <a href="{%url 'Conocenos' %}">Conocenos</a>
            </div>

            <div>
                <a href="{%url 'Nuevas_Obras' %}">Obras</a>
            </div>

            <div>
                <a href="{%url 'Artistas' %}"> Artistas</a>
            </div>

            
        </div>
        
        <div>

            <img class ="tamañoportada" src="{%static 'core/img/portada.jpg'%}" alt="Portada Pagina"   >

        </div>
        
    
    
    <header>


        <div class="lblContactenos">
    
            <h3>Contactenos</h3>
        
        </div>    
    
    
    
    
    </header>
    
    <form action="">
    
    
        
    
        <p>Nombre</p> 
        <input type="text" class="field"> 
        <p>Email</p>
        <input type="text" class="field2">
        <p>Telefono</p>
        <input type="text" class="field3">
        <p>Mensaje</p>
        <input type="text" class="field4">
        
    
        <input type="button" class="btn btn-green" value="Enviar">
    
    
    
    </form>
    
    <br><br><br><br>
 </div>
</div> 

</body>


    



</html>