<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{%static 'core/css/Style_Login.css'%}" />
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="logo">
            <a href="{%url 'home' %}"> <img src="{% static 'core/img/logo.png' %}"  alt="logo arte"/> </a>

        </div>
        <div class="encabezado">
            <div >

            <h1 class="titulopagina">Galeria de Arte</h1>
            
            
            </div>
            
            <div>
                <a href="{%url 'registro' %}"> Registrar</a>
            </div>
            <div>
                <a href="{%url 'Login' %}">Iniciar Sesion</a>
            </div>

            <div>
                <a href="{%url 'Conocenos' %}">Conocenos</a>
            </div>

            <div>
                <a href="{%url 'Nuevas_Obras' %}">Obras</a>
            </div>

            <div>
                <a href="{%url 'Artistas' %}"> Artistas</a>
            </div>

            
        </div>
        
        <div>

            <img class ="tamañoportada" src="{%static 'core/img/portada.jpg'%}" alt="Portada Pagina"   >

        </div>
        
    </div>
    
<form action="">

    <p>Correo o Usuario</p>
    <input type="text" class="field">
    <br>

    <p>Contraseña</p>
    <input type="text" class="field">
    <br><br>

    <input type="button" class="btn btn-green" value="Iniciar Sesion">



</form>

<br><br><br><br>

</body>
</html>