<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{%static 'core/css/Style_Login.css'%}" />
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="logo">
            <img src="{%static 'core/img/logo.png'%}" alt="logo arte">

        </div>
        <div class="encabezado">
            <div >

            <h1 class="titulopagina">Galeria de Arte</h1>
            
            
            </div>
            
            <div>
                <a href="{%url 'registro' %}"> Registrar</a>
            </div>
            <div>
                <a href="{%url 'Login' %}">Iniciar Sesion</a>
            </div>

            <div>
                <a href="{%url 'Conocenos' %}">Conocenos</a>
            </div>

            <div>
                <a href="{%url 'Nuevas_Obras' %}">Obras</a>
            </div>

            <div>
                <a href="{%url 'Artistas' %}"> Artistas</a>
            </div>

            
        </div>
        
        <div>

            <img class ="tamañoportada" src="{%static 'core/img/portada.jpg'%}" alt="Portada Pagina"   >

        </div>
        
    </div>
    {% block content %}

  {% if form.errors %}
  <p class="error">Ingrese un nombre de usuario o contraseña valido</p>
  {% endif %}
<form action='.' method='post'>

    <p>Correo o Usuario</p>
    <input type="text" class="form-control" placeholder="Nombre de Usuraio" name="username" >
    <br>

    <p>Contraseña</p>
    <input type="password" class="form-control" placeholder="Contraseña" name="password" >
    <br><br>

    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30"> Iniciar sesion </button>
    
    
    
    <input type="hidden" name="next" value="{{ next|escape }}" />
    <form action='.' method='post'>

    {% endblock %}
</form>
<div class="bInicio">

    <a href="{%url 'home'%}">Inicio</a>

</div>







<br><br><br><br>

</body>
</html>