<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'core/css/Style_Revisar_obra.css'%}" type="text/css">
    <title>Aprobar_Obra</title>
</head>
<body>
    {%load static%}
    <div class="logo">
        <a href="{%url 'home' %}"> <img src="{% static 'core/img/logo.png' %}"  alt="logo arte"/> </a>
    </div>
    <div class="encabezado">
        <div >

        <h1 class="titulopagina">Galeria de Arte</h1>
        
        
        </div>
        
        <div>
            <a href="{%url 'registro' %}"> Registrar</a>
        </div>
        <div>
            <a href="{%url 'Login' %}">Iniciar Sesion</a>
        </div>

        <div>
            <a href="{%url 'Conocenos' %}">Conocenos</a>
        </div>

        <div>
            <a href="{%url 'Nuevas_Obras' %}">Obras</a>
        </div>

        <div>
            <a href="{%url 'Artistas' %}"> Artistas</a>
        </div>

        
    </div>
    
    
    <div>

        <img class ="tamañoportada" src="{%static 'core/img/portada.jpg'%}" class="img-fluid" alt="Portada Pagina"   >

    </div>
    <br>
    {%load static%}

    <div class="row">
        <table>
            <img>
                <td>id_obra </td>

                <td>titulo_obra</td>
                <td>precio_obra</td>
                <td>tecnica_obra</td>
                <td>dimenciones_obra</td>
                <td>peso_obra   </td>
                <td>descripcion_obra </td>
                <td> imagen_obra </td>
                
                
            </tr>
            {% for ve in listaobras %}
            <tr>
                <td>{{ve.id_obra}}</td>
                <td>{{ve.titulo_obra}}</td>
                <td>{{ve.precio_obra}}</td>
                <td>{{ve.tecnica_obra}}</td>
                <td>{{ve.dimenciones_obra}}</td>
                <td>{{ve.peso_obra}}</td>
                <td>{{ve.descripcion_obra}}</td>
                <td>{{ve.imagen_obra}}</td>
                
            </tr>
            {% endfor %}





        </table>
        
    



    </div>
    












    
</body>
</html>