<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style_Revisar_obra.css" type="text/css">
    <title>Aprobar_Obra</title>
</head>
<body>
    <div class="logo">
        <img src="./img/logo.png" alt="logo arte">

    </div>
    <div class="encabezado">
        <div >

        <h1 class="titulopagina">Galeria de Arte</h1>
        
        
        </div>
        
        <div>
            <a href="Registro.html"> Registrar</a>
        </div>
        <div>
            <a href="Login.html">Iniciar Sesion</a>
        </div>

        <div>
            <a href="Conocenos.html">Conocenos</a>
        </div>

        <div>
            <a href="Nuevas_Obras.html">Obras</a>
        </div>

        <div>
            <a href="Artistas.html"> Artistas</a>
        </div>

        
    </div>
    
    <div>

        <img class ="tamañoportada" src="./img/portada.jpg" class="img-fluid" alt="Portada Pagina"   >

    </div>
    <br>
    <div class="img_revicion_obra">
        <img src="/img/obras-de-arte.jpg" alt="Imagen_de_revicion" width="300px" height="300px">

    </div>
    <div class="lbl_autor_revicion">
        <h3>  Autor </h3>
    </div>
    

    <form action="">
        
        <input type="text" class="field1">
        <input type="text" class="field2">
        <input type="text" class="field3">
        <input type="text" class="field4">
        <input type="text" class="field5">
        <input type="text" class="field6">
        <input type="text" class="field7">
        <input type="text" class="field8">
        <input type="text" class="field9">
        <input type="checkbox" class="checkbox1" >
        <div class="lbl_cbox">
            <h3>Aprobado</h3>
        </div>
        <input type="checkbox" class="checkbox2">
        <div class="lbl_cbox2">
            <h3>Desaprobado</h3>
        </div>
        <input type="button" class="btn btn-green" value="Enviar">
    </form>
 
    <div class="lbl_titulo_revicion">
        <h3> Titulo</h3>
    </div>
    <div class="lbl_precio_revicion">
        <h3>Precio</h3>
    </div>
    <div class="lbl_tecnica_revicion">
        <h3>Tecnica</h3>
    </div>
    <div class="lbl_descripcion_revicion">
        <h3>Descripcion</h3>
    </div>
    <div class="lbl_historia_revicion">
        <h3>Historia</h3>
    </div>
    <div class="lbl_peso_revicion">
        <h3>Peso</h3>
    </div>
    <div class="lbl_dimensiones_revicion">
        <h3>Dimensiones</h3>
    </div>
    <div class="lbl_comentarios_revicion">
        <h3> Comentarios </h3>
    </div>
    
    <div class="bInicio">

        <a href="index.html">Inicio</a>
    </div>    












    
</body>
</html>