@import url(estructura_basica.css);

.bInicio a{

    float: right;
    text-decoration: none;
    background-color: white;
    width: 150px;
    padding: 5px;
    border: 2px solid gray;
    color: black;
    border-color: black;
    
    
    
}

.bInicio a:hover{

    background-color: gray;

}